.form{
  margin: 50px;
}

.form form{
  border: 1px solid black;
  padding: 20px;
  
}
.form form fieldset{
  border: 2px groove threedface;
  margin: 5px;
  padding:5px;
}
.form form fieldset legend{
  padding: 3px;
}

.personal-info {
  position: absolute;
  bottom: 30px;
  right: 20px;
  font-size: 18px;
}

blockquote {
  font-style: italic;
}
blockquote .attribution{
  font-style: normal;
  font-size: .7em;
  text-align: right;
  margin: 20px 10px 0 0;
}
